.container_cadastro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro {
    width: 1100px;
    height: 691px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #D0D0D0;
    border-radius: 7px;
    box-shadow: -1px 1px 11px 0px rgba(163,157,157,0.75);
}

.title_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

.title_cadastro img {
    width: 150px;
    height: 130px;   
}

.input_cadastro {
    display: flex;
    flex-direction: column;
}

.input_cadastro span {
    margin-top: 5px;
    padding: 5px;
}

.input_cadastro input {
    width: 352px;
    height: 45px;
    font-size: 17px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(204, 202, 202, 0.671);
    box-shadow: -1px 1px 11px 0px rgba(163,157,157,0.75);
}

.check_cadastro {
    padding: 10px;
    display: flex;
}

.check_cadastro button {
    font-size: 19px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.9s;
}

.check_cadastro button:hover {
    color: #353535;
    transition: all 0.9s;
}

.text1_cadastro {
    width: 300px;
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
}

.text1_cadastro span {
    cursor: pointer;
    transition: all 0.5s;
    font-size: 12px;
    display: flex;
    justify-content: right;
}
.button_cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_cadastro button {
    width: 170px;
    height: 37px;
    font-size: 18px;
    background-color: #5476F4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: all 0.9s;
}

.button_cadastro button:hover {
    transition: all 0.9s;
    transform: scale(1.09);
}

.text_cadastro a {
    color: #F90E0E;
    text-decoration: none;
    transition: all 0.9s;
}

.text_cadastro a:hover {
    color: #f90e0ea1;
    transition: all 0.9s;
    text-decoration: underline;
}

@media(max-width: 480px) {
    .container_cadastro {
        width: 400px;
    }

    .cadastro {
        border: none;
        box-shadow: none;
        width: 400px;
    }

    .input_cadastro input {
        width: 300px;
        height: 40px;
    }

    .button_cadastro button {
        width: 140px;
        height: 35px;
    }

}

