.container_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.card {
    border: 1px solid rgb(245, 245, 245);
    width: 552px;
    height: 160px;
    display: flex;
    border-radius: 8px;
    gap: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 11px 3px rgba(209, 207, 207, 0.671);
    transition: all 0.9s;
}

.card:hover{
    transform: scale(1.06);
    transition: all 0.9s;
}

.card img {
    width: 135px;
    height: 140px;
    border-radius: 8px;
}

.card h1 {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.card p {
    font-size: 17px;
}

.priceAndbutton {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 380px;
}

.priceAndbutton h2 {
    font-size: 23px;
}

.home_button {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px;
}

.home_button button {
   font-size: 30px;
   background-color: transparent;
   border: none;
   color: #DB1A1A;
   cursor: pointer;
   transition: all 0.9s;
}

.home_button button:hover {
    color: #6b0c0c;
    transition: all 0.9s;
}

/*page home publica*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 650px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.425);
}

.fechar {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: right;
}

.fechar button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #ad1111;
    cursor: pointer;
    transition: all 0.9s;
}

.fechar button:hover {
    color: #ad1111a8;
    transform: scale(1.09);
    transition: all 0.9s;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.element p {
    margin-bottom: 20px;
    color: #5476F4;
    font-weight: 600;
    font-size: 21px;    
}

#login {
    width: 250px;
    height: 35px;
    cursor: pointer;
    background-color: #5476F4;
    color: white;
    font-size: 19px;
    margin-bottom: 10px;
    border: none;
    transition: all 0.9s;
}

#login:hover {
    background-color: #293975;
    transition: all 0.9s;
} 

#cadastro {
    width: 250px;
    height: 35px;
    cursor: pointer;
    background-color: #DB1A1A;
    color: white;
    font-size: 19px;
    margin-bottom: 10px;
    border: none;
    transition: all 0.9s;
}

#cadastro:hover {
    background-color: #660404;
    transition: all 0.9s;
}
/*fim*/

@media(max-width: 480px) {
    .cards {
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 390px;
        height: 100px;
    }

    .card img {
        width: 100px;
        height: 100px;
    }

    .card h1 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 6px;
    }

    .card p {
        display: none;
    }

    .overlay {
        width: 400px;
        height: 100vh;
    }

    .modal {
        width: 300px;
        height: 250px;
        background-color: #5476F4;
    }

    .fechar {
        display: flex;
        width: 400px;
        padding: 5px;
        justify-content: right;
    }

    .fechar button {
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: #ad1111;
        cursor: pointer;
        transition: all 0.9s;
    }

    .fechar button:hover {
        color: #ad1111a8;
        transform: scale(1.09);
        transition: all 0.9s;
    }

    .element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
    }

.element p {
    margin-bottom: 20px;
    color: #5476F4;
    font-weight: 600;
    font-size: 21px;    
}

#login {
    width: 250px;
    height: 35px;
    cursor: pointer;
    background-color: #5476F4;
    color: white;
    font-size: 19px;
    margin-bottom: 10px;
    border: none;
    transition: all 0.9s;
}

#login:hover {
    background-color: #293975;
    transition: all 0.9s;
} 

#cadastro {
    width: 250px;
    height: 35px;
    cursor: pointer;
    background-color: #DB1A1A;
    color: white;
    font-size: 19px;
    margin-bottom: 10px;
    border: none;
    transition: all 0.9s;
}

#cadastro:hover {
    background-color: #660404;
    transition: all 0.9s;
}
}

